// bower:scss
// endbower

* {
  box-sizing: border-box;
}

@font-face {
	font-family: akkurat;
	src: url('font/AkkRg_Pro_1.otf');
}

@font-face {
	font-family: akkuratbold;
	src: url('font/AkkBd_Pro_1.otf');
}

body {
  margin: 0;
  color: #333;
  background: #fff;
}

.wrapper {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('../images/bg.png');
  background-size: cover;
}

ul {
  li {
    margin-bottom: 20px;

    a {
      color: #333;
      font-size: 16px;
    }
  }
}

.indexpage {
  padding-left: 30px;
}
